.add-user {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: right;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  width: 100%;
  display: flex;
}

input {
  margin: 1rem 0;
  padding: 1rem;
}
